<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="contenedor-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `contenedor-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContenedorElement extends Polymer.Element {
      static get is() { return 'contenedor-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'contenedor-element'
          }
        };
      }
    }

    window.customElements.define(ContenedorElement.is, ContenedorElement);
  </script>
</dom-module>
