<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../transactions-tab/transactions-tab.html">
<link rel="import" href="../cryptoinfo-tab/cryptoinfo-tab.html">
<link rel="import" href="../checklist-element/checklist-element.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../success-card/success-card.html">






<dom-module id="contenedor-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <transactions-tabs></transactions-tabs>
    <cryptoinfo-tab></cryptoinfo-tab>
    <checklist-element></checklist-element>
    <information-card></information-card>
    <success-card></success-card>
  </template>

  <script>
    /**
     * `contenedor-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContenedorElement extends Polymer.Element {
      static get is() { return 'contenedor-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'contenedor-element'
          }
        };
      }
    }

    window.customElements.define(ContenedorElement.is, ContenedorElement);
  </script>
</dom-module>
